.section-header {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.section-title {
  font-size: 16px;
  font-weight: 400;
  color: var(--color-white);
}

.section-arrow {
  color: var(--color-white);
}
